
.trending-playlist {
   width: min(1490px, calc(70% - 2rem)); 
   margin: 38px  80px ;
  color: #9559c0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.trending-playlist h2 {
  margin: 0 0 1rem;
  font-size: 2rem;
  letter-spacing: 0;
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20.2rem;

}

.playlist-card {
  overflow: hidden;
  border-radius: 8px;
  background: #cb9feb;
  width: 280px;
  transition: transform 0.25s, background 0.25s;
}

.playlist-card:hover {
  background: #313030;
  transform: translateY(-4px);
}

.playlist-card img {
  display: block;
  width: 110%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.playlist-info {
  padding: 0.2rem;
  color: #0e0d0d;

}

.playlist-info h3 {
  font-size: 1.2rem;

}

.playlist-info p {
  margin: 0;
  color: #524a58;
  font-size: 0.98rem;
  font-family: serif;
}

@media (max-width: 980px) {
  .trending-playlist {
     width: calc(60% - 2rem); 
    margin: 2rem auto;
  }

  .playlist-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }

  .playlist-card {
    width: 100%;
  }
}
