
.trending-playlist {
   width: min(1490px, calc(70% - 2rem)); 
   margin: 38px  80px ;
  color: #9559c0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.trending-playlist h2 {
  margin: 0 0 1rem;
  font-size: 2rem;
  letter-spacing: 0;

}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 2fr));
  gap: 14.2rem;
  

}

.playlist-card {
  overflow: hidden;
  border-radius: 8px;
  background: #8653aa;
  width: 210px;
  transition: transform 0.25s, background 0.25s;
}

.playlist-card:hover {
  background: #594365;
  transform: translateY(-4px);
}

.playlist-card img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
 
}

.playlist-info {
  padding: 0.2rem;
  color: #ede5e5;

}

.playlist-info h3 {
  font-size: 1.2rem;
  font-family: sans-serif;

}

@media (max-width: 980px) {
  .trending-playlist {
     width: calc(80% - 1rem); 
    margin: 2rem auto;
  }
 .trending-playlist h2{
  padding-bottom: 25px;
 }
  .playlist-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.3rem;
  }

  .playlist-card {
    width: 90%;
  }
}
